<link rel="stylesheet" type="text/css" href="/stylesheets/admins/view_bed.css">
<div class="container"> 
    <div class="content">
        <div class="heading">
            <p>Rooms & Beds:</p>
        </div>
        <div class="list-table">

            <% @rooms.each do |room| %>
              <div class="tile-out">

                  <pre class="room-details"><%=room.room_no %></pre>
                  <p class="room-options">
                      <% permitted_to? :create_new_bed, :admins do %>
                        <%= link_to'Add new bed', new_bed_admins_path(:id=>room.id), :class=>"button-back no-underline" %>
                      <% end %>
                      <% permitted_to? :delete_room, :admins do %>
                        <%= link_to 'Delete Room',delete_room_admin_path(room),:confirm => 'Are you Sure?', :method=>:delete,:class=>"button-delete no-underline" %>
                      <% end %>
                  </p>


                  <% room.beds.each do|bed| %>
                    <div class="tile">
                        <p class="bedno"><%=  bed.bed_no %></p>
                        <p class="bedoption">
                            <% permitted_to? :delete_bed, :admins do %>
                              <%= link_to 'Delete',delete_bed_admin_path(bed),
                                :confirm => 'Are you Sure?', :method=>:delete,:class=>"button-delete no-underline" %>
                            <% end %>
                        </p>

                    </div>
                  <% end %>
                  <br/>
              </div>
            <% end %>
        </div>
    </div>
    <div class="links">
        <% permitted_to? :create_new_room, :admins do %>
          <%= link_to'Add new Room',new_room_admins_path,:class=>"button no-underline" %>
        <% end %>

        <% permitted_to? :index, :admins do %>
          <%= link_to 'Back', admins_path,:class=>"button-back no-underline" %>
        <% end %>
    </div>

</div>